name: Reviewdog
on:
  pull_request:

permissions:
  pull-requests: write
  contents: read

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Install ruff
        run: pip install ruff==0.6.7
      - name: Run ruff with reviewdog
        uses: reviewdog/action-ruff@v1
        with:
          reporter: github-pr-review
          fail_on_error: "true"
